{% extends 'layout.html' %}

{% block body %}
<div class='mt-1 text-center row'>
<form class="text-center col-sm-8 col-md-6 m-auto" method="POST" action="">
    <h1 class="m-3">Login</h1> 
    
    <div class="form-group row">
      <label for="usernameid" class="col-sm-12 col-form-label">Username</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="usernameid" name='username' value = "{{ request.form.username }}" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="passwordid" class="col-sm-12 col-form-label">Password</label>
      <div class="col-sm-12">
        <input type="password" class="form-control" id="passwordid" name='password' value = "{{ request.form.password }}" required>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

